{{!< default}}

<main class="site-main">

    <section class="tag">
        <div class="gh-canvas">
            <h1 class="tag-name">Cheat Sheet</h1>
            <div class="tag-description">List of all tags for ease of searching</div>
        </div>
    </section>

    <div class="post-feed gh-feed gh-canvas">

        {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
    
            {{#foreach tags}}
                <article class="feed {{visibility}} {{slug}}">

                    <div class="feed-calendar">
                        <div class="feed-calendar-month">
                            {{name}}
                        </div>
                    </div>

                    <h2 class="feed-title">{{description }}</h2>

                    <div class="feed-right">
                        {{> "icons/star"}}
                        <div class="feed-length">
                            {{ count.posts }} post(s)
                        </div>
                    </div>

                    {{> "icons/chevron-right"}}

                    <a class="u-permalink" href="{{url}}" aria-label="{{name}}"></a>

                </article>
            {{/foreach}}

        {{/get}}

    </div>

</main>